# all hidden files and directories
.*
!.gitignore
!.python-version

# directories
__pycache__
data/
output/
uploads/

# files
*.code-workspace
*.db
*.gguf
*.in
*.ipynb
*.jpeg
*.jpg
*.json
*.log
*.mkv
*.mp3
*.mp4
*.png
*.sh
*.sqbpro
*.wav
*.webm
*.zip
